@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
}

:root {
  /* fonts family */
  /* --font-title: "Dela Gothic One", cursive; */
  --font-title: "Meta", cursive;
  --font-main: "Poppins", sans-serif;

  /* font weight */
  --font-thin: 100;
  --font-extralight: 200;
  --font-semibold: 500;
  --font-bold: 700;
  --font-extrabold: 900;

  /* colors */
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-opacity: rgba(251, 146, 60, 0.059);
  --gradient: linear-gradient(to left, #ef790c, #ff9315);

  /* Light Mode - Background */

  
  /* Light Mode - Text */
  --text-slate-700: #3f3f46;

  /* Dark Mode - Background */
  --bg-dark: #0d111a;
  --bg-slate-950: #030712;

  /* Dark Mode - Text */
  --text-slate-300: #cbd5e1;

  /* Media */
  --mobile: "min-width: 320px";
  --tablet: "min-width: 640px";
  --laptop: "min-width: 1024px";
  --desktop: "min-width: 1440px";

  /* Trasnition */
  --hover-transition: 200ms ease-out;
  --animation-transition: 350ms ease-out;

  /* Title animation */
  --first-word: 'Avec';
  --sec-word: 'Quick Bricolage';
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: var(--mainFont);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
::selection{
  background: var(--text-slate-300);
}

/**************************** Responsive design ****************************/

.main-container {
  width: 100%;
  margin: 0% auto;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .main-container {
    max-width: 924px;
  }
}
@media (min-width: 1280px) {
  .main-container {
    max-width: 1224px;
  }
}

/**************************** Background colors ****************************/
.bg-orange-opacity{
  background-color: var(--orange-opacity);
}

/**************************** Typography ****************************/

/* Fonts */
.font-title {
  font-family: var(--main-title) !important;
}
.font-main {
  font-family: var(--font-main) !important;
}

/* Heading text sizing */
.text-large {
  font-size: calc(3.5rem + 0.8vw);
  line-height: 1;
}
@media (min-width: 1024px) {
  .text-large {
    font-size: 5rem;
  }
}

/* Title sizing */
.text-title {
  font-size: calc(1.8rem + 0.2vw);
}
@media (min-width: 1024px) {
  .text-title {
    font-size: 2.8rem;
  }
}

/* Subtitle sizing */
.text-medium {
  font-size: 2rem;
}
@media (min-width: 640px) {
  .text-medium {
    font-size: calc(1.8rem + 0.3vw);
  }
}
@media (min-width: 1024px) {
  .text-medium {
    font-size: 2rem;
  }
}

/* Heading paragraph sizing */
.text-small-heading {
  font-size: 1.1rem;
  line-height: 1.5;
}
@media (min-width: 640px) {
  .text-small-heading {
    font-size: calc(1.1rem + 0.2vw);
  }
}
@media (min-width: 1024px) {
  .text-small-heading {
    font-size: 1.2rem;
  }
}

/* Paragraph sizing */
.text-small {
  font-size: 1rem;
}

/**************************** Transition ****************************/
.transition {
  transition: var(--animation-transition);
}

/**************************** Buttons ****************************/
.btn {
  font-family: var(--font-main) !important;
  font-size: 1rem !important;
  font-weight: var(--font-semibold) !important;
  text-transform: capitalize !important;
  box-shadow: none !important;
  white-space: nowrap !important;
}
.btn-contained {
  background-color: var(--orange-400) !important;
}
.btn-contained:hover {
  box-shadow: none !important;
  filter: brightness(0.96);
}
.btn-outlined {
  color: var(--orange-400) !important;
  border-color: var(--orange-400) !important;
}
.btn-outlined:hover {
  color: white !important;
  background-color: var(--orange-400) !important;
}

/**************************** Navbar ****************************/
.active {
  color: var(--orange-500);
}
.btn-hover {
  position: relative;
  transition: var(--hover-transition) color;
}
.btn-hover:hover {
  color: var(--orange-400);
}
.btn-underline::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0%;
  top: 110%;
  background-color: var(--orange-400);
  border-radius: 5px;
  transition: var(--hover-transition);
}
.btn-underline:hover::after,
.active::after {
  width: 100%;
}

.nav-menu {
  max-height: 0;
  overflow: hidden;
  padding: 0%;
  width: fit-content;
  background-color: white;
  white-space: nowrap;
  border-radius: var(--border-radius);
  transition: 400ms ease-out;
}
@media (min-width: 640px) {
  .nav-menu {
    top: 150%;
    left: 50%;
    transform: var(--animation-transition);
  }
}
.nav-icon {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.nav-icon span {
  height: 3px;
  background-color: var(--orange-400);
  border-radius: 5px;
  transition: var(--hover-transition);
}
.nav-icon span:nth-child(1) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-open span:nth-child(1) {
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
}

.nav-open span:nth-child(2) {
  width: 0%;
  opacity: 0%;
}
.nav-open span:nth-child(3) {
  -webkit-transform: rotate(-42deg);
  -moz-transform: rotate(-42deg);
  -o-transform: rotate(-42deg);
  transform: rotate(-42deg);
}
@media (min-width: 1024px) {
  .nav-icon {
    display: none;
  }
}
/**************************** Landing page ****************************/
.remove-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

/**************************** Header ****************************/
.heading h1 {
  font-family: var(--font-title);
  font-weight: var(--font-extrabold);
}
/* Images */
.image-size {
  width: calc(220px + 8vw);
}
@media (min-width: 640px) {
  .image-size {
    width: calc(13rem + 4vw);
  }
}
@media (min-width: 1024px) {
  .image-size {
    width: 22rem;
  }
}
.blur-shape {
  /* z-index: 99; */
  position: absolute;
  width: 820px;
  opacity: .9;
}
.blur-1{
  left: 40%;
  bottom: 85%;
}
.blur-2{
  left: 0%;
  top: 20%;
}
.blur-3{
  left: 0%;
  top: 55%;
}
.blur-4{
  left: 0%;
  top: 75%;
}
.blur-5{
  left: 20%;
  bottom: 80%;
}
.blur-6{
  right: 0%;
  top: 30%;
}


.dropdown {
  z-index: 9999;
  max-height: 0rem;
  @apply px-4 flex flex-col gap-2 overflow-hidden text-center rounded laptop:text-start laptop:absolute laptop:shadow-xl;
}
@media (min-width: 1024px) {
  .dropdown {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.dropdown.show {
  @apply py-4 max-h-96;
}

#outlined-textarea{
  font-family: var(--font-main);
}


/* Client Form */

.MuiStep-root .MuiSvgIcon-root:not(.MuiStep-root .Mui-active, .MuiStep-root .Mui-completed){
  color: var(--orange-500) !important;
  opacity: 0.5 !important;
}
.MuiStep-root .Mui-active, .MuiStep-root .Mui-completed{
  color: var(--orange-500) !important;
}
.MuiStepIcon-text{
  display: none !important;
}

/* .css-heg063-MuiTabs-flexContainer{
  display: flex !important;
  justify-content: center !important;
} */

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root{
  @apply text-slate-700 font-main dark:text-white !important
}
.css-1dqgi2u-MuiTabPanel-root, .css-k05f6n-MuiTabPanel-root, .css-13xfq8m-MuiTabPanel-root, .MuiTabPanel-root{
  padding: 0 !important;
}

.css-11qfo8z-MuiInputBase-root-MuiOutlinedInput-root{
  @apply dark:text-slate-300 !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
@apply dark:border-slate-700 !important ;
font-family: var(--font-main) !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input, .css-mk9tez-MuiFormLabel-root-MuiInputLabel-root, .css-1lczath-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input, .css-1lczath-MuiFormLabel-root-MuiInputLabel-root{
  @apply dark:text-slate-300 !important ;
}

.thumbs-wrapper, .carousel-status{
  display: none;
}
@media (min-width: 1024px) {
  .thumbs-wrapper{
    display: block;
  }
}
.control-dots li{
  background-color: var(--orange-500) !important;
  box-shadow: none !important;
}
.control-arrow:hover{
  background: none !important;
  opacity: .7 !important; 
}

.carousel .control-next.control-arrow:before {
    border-left: 16px solid var(--orange-400) !important;
    border-top: 16px solid transparent !important;
    border-bottom: 16px solid transparent !important;
}
.carousel .control-prev.control-arrow:before {
    border-right: 16px solid var(--orange-400) !important;
    border-top: 16px solid transparent !important;
    border-bottom: 16px solid transparent !important;
    opacity: .8 !important;
}

.carousel .thumb.selected, .carousel .thumb {
  border: 3px solid var(--orange-400) !important;
  border-radius: 7px !important;
  filter: none;
}
.carousel .thumb.selected, .carousel .thumb:hover {
  border-radius: 7px !important;
  filter: none;
}
.carousel .thumb {
  border: 3px solid transparent !important;
  filter: opacity(.8);
}
.carousel .thumbs {
  text-align: center;
}

.css-1wfkfyl-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fb923c !important;
  background-color: #ff9f511d;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 2rem 0;
}

.header-bg{
  background-image: url('/assets/images/backgrounds/bg2.jpg');
  background-size: cover;
}
.connexion-bg{
  background-image: url('/assets/images/backgrounds/connexion2.jpg');
  background-size: cover;
  background-position: center;
}

@media (min-width: 640px) {
  .header-bg {
    background-position: center;
  }
}

@supports (-webkit-text-stroke: 2.1px var(--orange-400)) {
  .storke {
    -webkit-text-stroke: 2.1px var(--orange-400);
    color: transparent;
  }
}

.heading-text{
  position: relative;
}


.heading-title h1 {
  position: relative;
}
.heading-title h1:nth-child(n + 2) {
  overflow: hidden;
}
.heading-title > :nth-child(1){
  height: 48px;
  position: relative;
  bottom: 50px;
  opacity: 0;
  animation: show-word-animation 500ms .1s cubic-bezier(0, 0, 0.68, 1) forwards;
}
@keyframes show-word-animation {
  100% { bottom: 0px; opacity: 1; }
} 
@media (min-width: 640px) {
  .heading-title > :nth-child(1){
    height: 60px;
  }
}
@media (min-width: 1024px) {
  .heading-title > :nth-child(1){
    height: 72px ;
  }
  .heading-title > :nth-child(2){
    height: 79px !important;
  }
}

.heading-title > :nth-child(2){
  height: 66px;
  overflow: hidden;
  position: relative;
}
/* @media (min-width: 1024px) {
  .heading-title > :nth-child(2){
    height: 82.5px;
  }
} */
.heading-title > :nth-child(2) span{
  top: 100%;
}

.sec-word {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  display: block;
}

.sec-word span {
  color: var(--orange-400);
  position: relative;
  top: 20px;
  animation: bounce .8s ease forwards alternate;
}

.sec-word span:nth-child(1) {
  animation-delay: .2s;
}

.sec-word span:nth-child(2) {
  animation-delay: .25s;
}

.sec-word span:nth-child(3) {
  animation-delay: .3s;
}

.sec-word span:nth-child(4) {
  animation-delay: .35s;
}

.sec-word span:nth-child(5) {
  animation-delay: .4s;
}
.sec-word span:nth-child(6) {
  animation-delay: .45s;
}

.sec-word span:nth-child(7) {
  animation-delay: .5s;
}

.sec-word span:nth-child(8) {
  animation-delay: .55s;
}

.sec-word span:nth-child(9) {
  animation-delay: .6s;
}

.sec-word span:nth-child(10) {
  animation-delay: .65s;
}
.sec-word span:nth-child(11) {
  animation-delay: .7s;
}

.sec-word span:nth-child(12) {
  animation-delay: .75s;
}

.sec-word span:nth-child(13) {
  animation-delay: .8s;
}

.sec-word span:nth-child(14) {
  animation-delay: .85s;
}
.sec-word span:nth-child(15) {
  animation-delay: .9s;
}

@keyframes bounce {
  100% {
    top: 0px;
  }
}

.heading-title > :nth-child(3){
  height: 72px;
}
.heading-title > :nth-child(3) span:nth-child(1){
  position: relative;
  bottom: 100%;
  opacity: 0;
  animation: show-word-animation 450ms .4s cubic-bezier(0, 0, 0.23, 1.11) forwards;
}
.heading-title > :nth-child(3) span:nth-child(2){
  position: relative;
  width: 0;
  height: 72px;
  animation: show-word2-animation 450ms .7s cubic-bezier(0, 0, 0.23, 1.11) forwards;
}
@keyframes show-word2-animation {
  100% {
    /* width: 189.7px ; */
    width: 142.273px ;
  }
}
.heading-title > :nth-child(3) span:nth-child(3){
  opacity: 0;
  animation: show-word3-animation 450ms .6s cubic-bezier(0, 0, 0.23, 1.11) forwards;
}
@keyframes show-word3-animation {
  100% { opacity: 1; }
}

/* .css-1ps6pg7-MuiPaper-root {

} */

.css-bx4uh6-MuiPopper-root {
  position: absolute !important;
  top: 10% !important;
  left: 0% !important;
}
.services-dropdown{
  transform: translate3d(0px, 52px, 0px) !important;
  width: 100%;
}

.MuiButtonBase-root{
  position: static !important;
}
.css-1ps6pg7-MuiPaper-root{
  @apply bg-white rounded-xl shadow-xl overflow-hidden !important;
}

.css-iajp3t-MuiButtonGroup-root {
  display: inline !important;
  scrollbar-color: red !important;
}

.css-iajp3t-MuiButtonGroup-root::-webkit-scrollbar {
  display: none;
}

.header-des, .header-buttons{
  transform: translateY(30px);
  opacity: 0;
  animation: anime_article .8s .3s ease-out forwards;
 }
 @keyframes anime_article {
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
 }













 .alice-carousel{
  display: flex !important;
  align-items: center;
}
.alice-carousel > div:first-of-type{
  width: calc(100% - 50px) !important;
  order: 2;
}
.alice-carousel__next-btn{
  order: 2;
}
.alice-carousel__next-btn, .alice-carousel__prev-btn{
  color: orange !important;
  width: 50px !important;
}
.item{
  margin: 10px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}